@keyframes firstRiangle{
  0%{transform: translateX(0px);}
  25%{transform:translateX(150px);}
  50%{transform:translateX(300px);}
  75%{transform:translateX(300PX);}
  100%{transform:translateX(300PX);}
}
@keyframes secondRiangle{
  0%{transform: translateX(0px);}
  25%{transform:translateX(0px);}
  50%{transform:translateX(0px);}
  75%{transform:translateX(150PX);}
  100%{transform:translateX(300PX);}
}
@keyframes outerCicle{
  0%{transform:rotate(0deg);}
  25%{transform:rotate(90deg);}
  50%{transform:rotate(180deg);}
  75%{transform:rotate(270deg);}
  100%{transform:rotate(360deg);}
}
@keyframes innerCicle{
  0%{transform:rotate(0deg);}
  25%{transform:rotate(-90deg);}
  50%{transform:rotate(-180deg);}
  75%{transform:rotate(-270deg);}
  100%{transform:rotate(-360deg);}
}
@keyframes analyScan{
  0%{transform:translateY(60px);}
  50%{transform:translateY(140px);}
  100%{transform:translateY(60px);}
}
@keyframes cicir1
{
  0%   {transform: scale(0)}
  100% {transform: scale(1)}
}
@keyframes downArrow
{
  0%   {transform: translateY(100px);}
  80%  {transform: translateY(136px);}
  90% {transform: scale(0);}
  100% {transform: scale(0);}
}
@keyframes cicleCategory {
  0%{transform:translateX(0px);}
  100%{transform:translateX(93px);}
}
@keyframes ciclePointAI {
  0%{transform:translateX(0px);}
  100%{transform:translateX(62px);}
}
@keyframes ciclePeople {
  0%{transform:translateX(0px);}
  100%{transform:translateX(122px);}
}
@keyframes cicleLaunch {
  0%{transform:translateX(0px);}
  50%{transform:translateX(64px);}
  51%{transform:scale(0);}
  60%{transform:translateX(188px);}
  100%{transform:translateX(246px);}
}
@keyframes ciclePolicy {
  0%{transform:translate(748px, 2px);}
  5%{transform:translate(748px, 9px);}
  60%{transform:translate(325px, 9px);}
  61%{transform:scale(0);}
  64%{transform:translate(205px, 9px);}
  95%{transform:translate(-2px, 9px);}
  100%{transform:translate(-2px, -2px);}
}
@keyframes channelChange {
  0%{width:192px}
  100%{width: 966px;}
}
@keyframes channelChange1 {
  0%{width:966px}
  100%{width: 192px;}
}

.service-list {
  margin: 58px 0 34px 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  li {
    cursor: pointer;
    display: inline-block;
    text-align: center;
    width: 96px;
    font-size:20px;
    font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
    font-weight:bold;
    color:rgba(5,11,35,1);
  }
  .line-comp {
    margin-top: 48px;
    width: 304px;
    position: relative;
    .line {
      width: 100%;
      height:1px;
      border:1px dotted rgba(0,0,0,1);
      opacity:0.1;
    }
    .rightRiangle {
      position: absolute;
      width: 0px;
      height: 0px;
      margin-top: -5px;
      border-top:4px solid transparent;
      border-bottom:4px solid transparent;
      border-left:4px solid rgba(5,11,35,0.6);
    }
    .rightRiangle1 {
      animation:firstRiangle 16s linear infinite;
      animation-delay: 0,
    }
    .rightRiangle2 {
      animation:secondRiangle 16s linear infinite;
      animation-delay: 8,
    }
  }
}
.service-item {
  cursor: pointer;
  position: relative;
  overflow: hidden;
  height: 716px;
  .service-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .service-main {
    margin: 0 auto;
    width: 1200px;
    position: relative;
    .numIcon0 {
      position: absolute;
      top: -29px;
      left: -6px;
      z-index: -1;
    }
    .numIcon1 {
      position: absolute;
      top: -29px;
      left: -25px;
      z-index: -1;
    }
    .numIcon2 {
      position: absolute;
      top: -35px;
      left: -25px;
      z-index: -1;
    }
    h4 {
      margin-top: 64px;
      font-size:36px;
      font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
      font-weight:bold;
      color:rgba(255,255,255,1);
    }
    h5 {
      font-size:14px;
      font-family:"PingFang SC","MicrosoftYaHei";
      font-weight:400;
      color:rgba(255,255,255,1);
      opacity:0.6;
      margin-top: 12px;
    }
    .service-body {
      display: flex;
      flex-direction: row;
      align-items: center;
      height: 380px;
      margin-top: 49px;
      position: relative;
      .service-category-list {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 100%;
      }
      .service-category {
        height: 100px;
        width: 216px;
        text-align: center;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-category.png');
        h3 {
          font-size:16px;
          font-family:"PingFang SC","MicrosoftYaHei";
          font-weight:400;
          color:rgba(255,255,255,1);
        }
        h4 {
          margin-top: 0px;
          font-size:14px;
          font-family:"PingFang SC","MicrosoftYaHei";
          font-weight:400;
          color:rgba(255,255,255,1);
        }
        span {
          font-size:48px;
          font-family:"PingFang SC", "Microsoft YaHei";
          font-weight:bold;
          color:rgba(255,255,255,1);
          margin-right: 7px;
        }
      }
      .service-category-line {
        width: 93px;
        height: 281px;
        position: relative;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-category-line.png');
        .cicle-category {
          animation: cicleCategory 3s infinite linear;
        }
      }
      .cicle-point {
        position: absolute;
        width:4px;
        height:4px;
        border:2px solid rgba(255,255,255,1);
        border-radius:50%;
        top: 50%;
        margin-top: -2px;
      }
      .service-category-all {
        position: relative;
        width: 278px;
        height: 270px;
        margin-left: -16px;
        box-sizing: border-box;
        .lightPointBox{
          width:32px;
          height:32px;
          position: absolute;
          top: 118px;
          animation: cicir1 3s infinite linear;
          &.left{
            left: 0;
          } 
          &.right{
            right: 8px;
            animation: cicir1 3s infinite 0.5s linear;
          }    
          .center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }  
          .point1{
            width:4px;
            height:4px;
            border:2px solid rgba(255,255,255,1);
            border-radius:50%;
          }
          .point2{
            width:16px;
            height:16px;
            background:rgba(255,255,255,1);
            opacity:0.2;
            border-radius:50%;
          }
          .point3{
            width:32px;
            height:32px;
            background:rgba(255,255,255,1);
            opacity:0.1;
            border-radius:50%;
          }
        }
        .outer-cicle {
          position: absolute;
          width: 270px;
          height: 270px;
          animation:outerCicle 4s linear infinite;
        }
        .inner-cicle {
          position: absolute;
          left: 14px;
          top: 14px;
          width: 242px;
          height: 242px;
          background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-categort-all-inner.png');
          text-align: center;
          h4 {
            margin: 27px auto 20px;
            font-size:16px;
            font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
            font-weight:bold;
            color:rgba(255,255,255,1);
          }
          h5 {
            display: flex;
            flex-direction: row;
            align-items: center;
            margin: 0 auto;
            width: 150px;
            height: 81px;
            text-align: left;
            opacity: 1;
            span {
              font-size:70px;
              font-family:"PingFang SC", "Microsoft YaHei";
              font-weight:bold;
              color:rgba(255,255,255,1);
              margin-right: 6px;
            }
            font-size:16px;
            font-family:"PingFang SC","MicrosoftYaHei";
            font-weight:400;
            color:rgba(255,255,255,1);
          }
          h6 {
            width:149px;
            font-size:12px;
            font-family:"PingFang SC","MicrosoftYaHei";
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:20px;
            opacity:0.6;
            margin: 0 auto;
          }
        }
      }
      .service-all-line {
        width: 150px;
        height: 174px;
        margin-left: -24px;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-all-line.png');
      }
      .service-ai-line {
        position: relative;
        width: 62px;
        height: 2px;
        margin-left: -40px;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-ai-line.png');
        .cicle-pointAI{
          animation: ciclePointAI 3s infinite linear;
        }
        .lightPointBox{
          width:32px;
          height:32px;
          position: absolute;
          top: -16px;
          animation: cicir1 3s infinite linear;
          &.left{
            left: -16px;
          } 
          &.right{
            right: -16px;
            animation: cicir1 3s infinite 0.5s linear;
          }    
          .center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }  
          .point1{
            width:4px;
            height:4px;
            border:2px solid rgba(255,255,255,1);
            border-radius:50%;
          }
          .point2{
            width:16px;
            height:16px;
            background:rgba(255,255,255,1);
            opacity:0.2;
            border-radius:50%;
          }
          .point3{
            width:32px;
            height:32px;
            background:rgba(255,255,255,1);
            opacity:0.1;
            border-radius:50%;
          }
        }
      }
      .service-ai-analys {
        position: relative;
        width: 367px;
        height: 367px;
        margin-left: -70px;
        .analys-demind {
          top: 84px;
        }
        .analys-info {
          position: absolute;
          opacity: 1;
          left: -57px;
          width: 80px;
          height: 36px;
          margin: 0;
          line-height: 36px;
          text-align: center;
          font-size:14px;
          font-family:"PingFang SC","MicrosoftYaHei";
          font-weight:400;
          color:rgba(255,255,255,1);
          background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-analys-bg.png');
        }
        .analys-feature {
          top: 246px;
        }
        .service-ai-outer {
          position: absolute;
          top: 18px;
          left: 18px;
          width: 331px;
          height: 331px;      
          animation:outerCicle 4s linear infinite;    
        }
        .service-ai-inner {
          position: absolute;
          text-align: center;
          width: 367px;
          height: 367px;
          background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-ai-inner.png')
        }
        .service-ai-inner-cicle {
          position: absolute;
          left: 50%;
          top: 50%;
          transform: translate(-50%, -50%);
          width: 285px;
          height: 285px;
          overflow: hidden;
          border-radius: 100%;
        }
        .service-ai-scan {
          position: absolute;
          width:284px;
          height:142px;
          background:linear-gradient(180deg,rgba(1,80,255,0) 0%,rgba(1,80,255,1) 100%);
          opacity:0.3;
          animation: analyScan 4s linear infinite;
        }
        h4 {
          width:127px;
          height:24px;
          font-size:24px;
          position: absolute;
          top: 234px;
          left: 121px;
          margin: 0;
          font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
          font-weight:bold;
          color:rgba(255,255,255,1);
        }
      }
      .service-people {
        margin: 0;
        text-align: center;
        width: 184px;
        height: 380px;
        font-size:16px;
        font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
        font-weight:bold;
        color:rgba(255,255,255,1);
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/service-people.png');
        .people-text {
          padding-top: 26px;
        }
      }
      .service-touchuser-line {
        position: relative;
        width: 122px;
        height: 2px;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/touchuserline.png');
        .cicle-people {
          animation: ciclePeople 3s infinite linear;
        }
        .lightPointBox{
          width:32px;
          height:32px;
          position: absolute;
          top: -16px;
          animation: cicir1 3s infinite linear;
          &.left{
            left: -16px;
          } 
          &.right{
            right: -16px;
            animation: cicir1 3s infinite 0.5s linear;
          }    
          .center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }  
          .point1{
            width:4px;
            height:4px;
            border:2px solid rgba(255,255,255,1);
            border-radius:50%;
          }
          .point2{
            width:16px;
            height:16px;
            background:rgba(255,255,255,1);
            opacity:0.2;
            border-radius:50%;
          }
          .point3{
            width:32px;
            height:32px;
            background:rgba(255,255,255,1);
            opacity:0.1;
            border-radius:50%;
          }
        }
      }
      .service-touchuser {
        position: relative;
        width: 282px;
        height: 282px;
        margin-left: -20px;
        .service-touchuser-outer {
          position: absolute;
          width: 100%;
          height: 100%;
          animation:outerCicle 6s linear infinite;
        }
        .service-touchuser-inner {
          position: absolute;
          width: 242px;
          height: 242px;
          left: 20px;
          top: 20px;
          .service-touchuser-inner-bg {
            position: absolute;
            left: 0;
            top: 0;
            width: 242px;
            height: 242px;
            animation:innerCicle 6s linear infinite;
          }
          .service-touchuser-icon {
            position: absolute;
            top: 39px;
            left: 55px;
            width: 133px;
            height: 117px;
          }
          h4 {
            position: absolute;
            top: 147px;
            left: 75px;
            margin: 0;
            font-size:22px;
            font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
            font-weight:bold;
            color:rgba(255,255,255,1);
          }
        }
      }
      .service-channel-line {
        position: relative;
        width: 136px;
        height: 199px;
        margin-left: -24px;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/channel-line1.png');
        .lightPointBox{
          width:32px;
          height:32px;
          position: absolute;
          top: 84px;
          animation: cicir1 3s infinite linear;
          &.left{
            left: -12px;
          } 
          &.right1{
            right: -16px;
            top: -16px;
            animation: cicir1 3s infinite 0.5s linear;
          }  
          &.right2{
            right: -16px;
            top: 184px;
            animation: cicir1 3s infinite 0.5s linear;
          }  
          .center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }  
          .point1{
            width:4px;
            height:4px;
            border:2px solid rgba(255,255,255,1);
            border-radius:50%;
          }
          .point2{
            width:16px;
            height:16px;
            background:rgba(255,255,255,1);
            opacity:0.2;
            border-radius:50%;
          }
          .point3{
            width:32px;
            height:32px;
            background:rgba(255,255,255,1);
            opacity:0.1;
            border-radius:50%;
          }
        }
      }
      .service-channel {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 380px;
        width: 521px;
        .service-channel-bg {
          height: 179px;
          width: 100%;
          font-size:12px;
          font-family:"PingFang SC","MicrosoftYaHei";
          font-weight:400;
          color:rgba(255,255,255,1);
          text-align: center;
          background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/channel-bg.png');
          h4 {
            font-size:16px;
            font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
            font-weight:bold;
            color:rgba(255,255,255,1);
            margin: 15px auto;
          }
          .channel-title {
            display: flex;
            flex-direction: row;
            width: 400px;
            margin: 0 auto;
            .channel-title1 {
              margin-right: 50px;
            }
          }
          h5 {
            margin: 0 0px 13px 0;
          }
          .online-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 430px;
            margin: 0 auto;
            padding: 0;
            li {
              display: block;
              img {
                width: 64px;
                height: 64px;
              }
              h5 {
                font-size:12px;
                font-family:"PingFang SC","MicrosoftYaHei";
                font-weight:400;
                color:rgba(255,255,255,1);
                opacity:0.6;
              }
            }
          }
          .underline-list {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 494px;
            margin: 0 auto;
            .underline-item {
              width: 242px;
              height: 66px;
              background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/channel-undeline-bg.png');
              font-size:12px;
              font-family:"PingFang SC","MicrosoftYaHei";
              font-weight:400;
              color:rgba(255,255,255,1);
              opacity:0.8;
              text-align: left;
              h5 {
                margin-left: 16px;
                margin-top: 9px;
              }
              .underline-item-tag {
                display: flex;
                flex-direction: row;
                justify-content: space-around;
                width: 213px;
                margin: 0 auto;
                h5 {
                  display: flex;
                  flex-direction: row;
                  align-items: center;
                  margin: 0;
                }
                img {
                  margin-right: 4px;
                }
                .tag-line {
                  width: 0px;
                  height: 15px;
                  border:1px solid rgba(255,255,255,1);
                  opacity:0.1;
                }
              }
            }
          }
        }
      }
      .service-launch {
        width: 274px;
        height: 380px;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/ad-launch.png');
        h4 {
          margin-top: 25px;
          font-size:18px;
          text-align: center;
          font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
          font-weight:bold;
          color:rgba(255,255,255,1);
        }
      }
      .service-launch-line {
        position: relative;
        width: 246px;
        height: 2px;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/launch-data-line.png');
        .cicle-launch {
          animation: cicleLaunch 4s infinite linear;
        }
        .lightPointBox{
          width:32px;
          height:32px;
          position: absolute;
          top: -16px;
          animation: cicir1 3s infinite linear;
          &.left{
            left: -16px;
          } 
          &.right{
            right: -16px;
            animation: cicir1 3s infinite 0.5s linear;
          }    
          .center{
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
          }  
          .point1{
            width:4px;
            height:4px;
            border:2px solid rgba(255,255,255,1);
            border-radius:50%;
          }
          .point2{
            width:16px;
            height:16px;
            background:rgba(255,255,255,1);
            opacity:0.2;
            border-radius:50%;
          }
          .point3{
            width:32px;
            height:32px;
            background:rgba(255,255,255,1);
            opacity:0.1;
            border-radius:50%;
          }
        }
      }
      .service-launch-data {
        z-index: 4;
        width: 120px;
        margin: -7px 0 0 -183px;
        height: 56px;
        line-height: 56px;
        font-size:16px;
        text-align: center;
        font-family:"PingFang SC","MicrosoftYaHei";
        font-weight:400;
        color:rgba(255,255,255,1);
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/launch-data-bg.png');
      }
      .service-data-bank {
        text-align: center;
        width: 681px;
        height: 378px;
        margin-left: 62px;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/data-bank-bg.png');
        h4 {
          margin: 26px 0 8px;
          font-size:18px;
          font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
          font-weight:bold;
          color:rgba(255,255,255,1);
        }
        .data-bank {
          display: flex;
          flex-direction: row;
          margin: 0 auto;
          justify-content: space-between;
          width: 611px;
          align-items: center;
          .data-store {
            position: relative;
            width: 276px;
            height: 276px;
            .data-store-outer {
              left: 0;
              top: 0;
              position: absolute;
              width: 276;
              height: 276;
              z-index: -1;
              animation:outerCicle 4s linear infinite;
            }
            .data-store-inner {
              position: absolute;
              width: 242px;
              height: 242px;
              left: 17px;
              top: 17px;
              background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/data-store-inner.png');
              h5 {
                margin: 0;
                font-size:14px;
                font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
                font-weight:bold;
                color:rgba(255,255,255,1);
              }
              .data-store-text {
                position: absolute;
                top: 33px;
                left: 50%;
                transform: translateX(-50%);
              }
              .data-store-icon {
                position: absolute;
                top: 59px;
                left: 50%;
                transform: translateX(-50%);
              }
              .data-down-arrow {
                position: absolute;
                left: 116px;
                animation: downArrow 3s infinite linear;
              }
              .data-cn-icon {
                position: absolute;
                top: 148px;
                left: 50%;
                transform: translateX(-50%);
              }
              .data-cn-text {
                position: absolute;
                top: 198px;
                left: 50%;
                transform: translateX(-50%);
              }
            }
          }
          .data-bank-line {
            display: block;
            width: 74px;
            height: 2px;
          }
          .data-model {
            margin-left: -57px;
            width: 318px;
            height: 320px;
            text-align: center;
            position: relative;
            background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/data-model-bg1.png');
            h5 {
              margin-top: 58px;
              font-size:16px;
              font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
              font-weight:bold;
              color:rgba(255,255,255,1);
            }
            .data-model-line {
              position: absolute;
              top: 150px;
              left: 50%;
              transform: translatex(-50%);
            }
            .data-model-cube1 {
              position: absolute;
              top: 109px;
              left: 50%;
              transform: translatex(-50%);
            }
            .data-model-cube2 {
              position: absolute;
              top: 175px;
              left: 95PX;
            }
            .data-model-cube3 {
              position: absolute;
              top: 175px;
              left: 169PX;
            }
          }
        }
      }
      .launch-policy-line {
        position: absolute;
        top: 378px;
        left: 132px;
        height: 24px;
        width: 748px;
        background-size: 100% 100%;
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/launch-policy-line.png');
        .cicle-policy {
          animation: ciclePolicy 12s infinite linear;
        }
      }
      .launch-policy {
        position: absolute;
        top: 375px;
        left: 337px;
        height: 46px;
        line-height: 46px;
        width: 120px;
        text-align: center;
        font-size:14px;
        font-family:"PingFang SC","MicrosoftYaHei";
        font-weight:400;
        color:rgba(255,255,255,1);
        background-image: url('https://storage.jd.com/jdlk-website/lkmarketing/launch-policy.png');
      }
    }
  }
  .service-item-line {
    margin: 65px auto 0;
    width: 1200px;
    height: 13px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    .change-list-line {
      position: relative;
      width:90px;
      height:3px;
      background:rgba(255,255,255,0.1);
      .change-list-line-active {
        position: absolute;
        top: 0px;
        left: 0;
        width:30px;
        height:3px;
        background:rgba(255,255,255,1);
        opacity:1;
      }
    }
    .change-list-text {
      height:13px;
      font-size:14px;
      font-family:"PingFang SC","MicrosoftYaHei";
      font-weight:400;
      color:rgba(255,255,255,1);
      opacity:0.6;
    }
  }
}
.market-channel {
  position: relative;
  overflow: hidden;
  height: 896px;
  .channel-bg {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
  }
  .market-channel-main {
    margin: 0 auto;
    width: 1200px;
  }
  .channel-list {
    margin-top: 53px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 562px;
    .channel-bg {
      width: 100%;
      height: 100%;
      position: absolute;
      z-index: -1;
    }
    .channel-card {
      width: 966px;
      overflow: hidden;
      animation: channelChange 0.2s linear 1;
      .channel-card-title {
        position: relative;
        overflow: hidden;
        height: 168px;
      }
      .channel-card-bg {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: -1;
      }
      h4 {
        margin: 39px 0 0 32px;
        font-size:28px;
        font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
        font-weight:bold;
        color:rgba(255,255,255,1);
      }
      h5 {
        margin: 21px 0 0 32px;
        width:610px;
        height:39px;
        font-size:14px;
        font-family:"PingFang SC","MicrosoftYaHei";
        font-weight:400;
        color:rgba(255,255,255,1);
        line-height:24px;
        opacity:0.5;
      }
      .channel-card-body {
        width: 100%;
        height: 394px;
        background:rgba(255,255,255,1);
        border:1px solid rgba(217,223,237,1);
        box-shadow:0px 0px 30px 0px rgba(5,11,35,0.05);
        border-radius:3px;
        
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0 32px;
        .channel-card-item {
          width: 424px;
          position: relative;
          z-index: 1;
          h5 {
            font-size:16px;
            font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
            font-weight:bold;
            color:rgba(5,11,35,1);
            margin: 50px 0 0;
            padding: 0;
            opacity:1;
          }
          ul {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: space-between;
            padding: 0;
            li {
              margin-top: 30px;
              display: inline-block;
              width:197px;
              height:60px;
              background:rgba(255,255,255,1);
            }
          }
          .citymap {
            position: absolute;
            top: 90px;
            left: 65px;
          }
          h6 {
            font-size:16px;
            font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
            font-weight:bold;
            color:rgba(255,255,255,1);
          }
          .city1 {
            position: absolute;
            top: 116px;
            left: 24px;
          }
          .city1-text {
            position: absolute;
            top: 129px;
            left: 52px;
            margin: 0;
          }
          .city2 {
            position: absolute;
            top: 177px;
            left: 24px;
          }
          .city2-text {
            position: absolute;
            top: 191px;
            left: 52px;
            margin: 0;
          }
          .city3 {
            position: absolute;
            top: 236px;
            left: 24px;
          }
          .city3-text {
            position: absolute;
            top: 250px;
            left: 52px;
            margin: 0;
          }
          .channel-life-bg {
            position: absolute;
            top: 45px;
            z-index: -1;
          }
          .channel-office-bg {
            position: absolute;
            top: 102px;
            left: 160px;
            z-index: -1;
          }
          .channel-office-icon {
            position: absolute;
            top: 134px;
            left: 204px;
            z-index: -1;
          }
          .channel-office-text {
            position: absolute;
            top: 172px;
            left: 193px;
          }
          .channel-house-bg {
            position: absolute;
            top: 216px;
            left: 65px;
            z-index: -1;
          }
          .channel-house-icon {
            position: absolute;
            top: 247px;
            left: 105px;
            z-index: -1;
          }
          .channel-house-text {
            position: absolute;
            top: 286px;
            left: 105px;
          }
          .channel-market-bg {
            position: absolute;
            top: 216px;
            left: 255px;
            z-index: -1;
          }
          .channel-market-icon {
            position: absolute;
            top: 249px;
            left: 297px;
            z-index: -1;
          }
          .channel-market-text {
            position: absolute;
            top: 286px;
            left: 297px;
          }
        }
      }
    }
    .channel-message {
      animation: channelChange1 0.2s linear 1;
      cursor: pointer;
      width: 192px;
      height:562px;
      background:rgba(255,255,255,1);
      border:1px solid rgba(217,223,237,1);
      box-shadow:0px 0px 30px 0px rgba(5,11,35,0.05);
      border-radius:3px;
      padding-top: 39px;
      .channel-line {
        width: 68px;
        height: 8px;
        margin: 76px 62px 0;
      }
      h4 {
        margin: 0 auto;
        width: 120px;
        font-size:28px;
        font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
        font-weight:bold;
        color:rgba(5,11,35,1);
      }
      .channel-message-line {
        margin: 52px auto 48px;
        width:128px;
        height:1px;
        background:rgba(5,11,35,1);
        opacity:0.1;
      }
      h5 {
        margin: 0 auto;
        width:130px;
        font-size:14px;
        font-family:"PingFang SC","MicrosoftYaHei";
        font-weight:400;
        color:rgba(5,11,35,1);
        line-height:24px;
        opacity:0.5;
      }
    }
  }
}
.message-card {
  max-width: 1280px;
  margin: auto;
  overflow: hidden;
  .douhao1 {
    margin: 40px 0 0 46px;
    width: 60px;
    height: 58px;
  }
  .message-item {
    width: 642px;
    h4 {
      margin-top: 28px;
      font-size:32px;
      font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
      font-weight:bold;
      color:rgba(5,11,35,1);
    }
    h5 {
      margin-top: 19px;
      font-size:14px;
      font-family:"PingFang SC","MicrosoftYaHei";
      font-weight:400;
      color:rgba(5,11,35,1);
      opacity:0.6;
    }
  }
  .card-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-info {
      width: 302px;
      height: 64px;
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 64px;
        height: 64px;
        background-size: 100% 100%;
        margin-right: 14px;
      }
      .card-title {
        font-size:24px;
        font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
        font-weight:bold;
        color:rgba(5,11,35,1);
        margin: 5px 0 0 0;
      }
      .card-message {
        margin: 17px 0 0 0;
        font-size:14px;
        font-family:"PingFang SC","MicrosoftYaHei";
        font-weight:400;
        color:rgba(5,11,35,1);
        opacity:0.6;
      }
    }
  }
  .item-cardandimg {
    display: flex;
    flex-direction: row;
    padding-left: 57px;
  }
  .item-imgandcard {
    display: flex;
    flex-direction: row;
    margin-top: 155px;
    .img-left {
      height: 347px;
      width: 553px;
    }
  }
  .douhao2 {
    float: right;
    width: 59px;
    height: 57px;
    margin: 25px 100px 72px 0;
  }
}