
.service-desc-box{
  width: 100vw;
  overflow: hidden;
  .service-desc{
    max-width: 1280px;
    margin: auto;
    position: relative;
  }

  .menu{
    width: 95%;
    height: 60px;
    display: flex;
    text-align: center;
    margin: 30px auto 0 auto;
    .item{
      flex: 1;
      font-size:20px;
      font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
      font-weight:bold;
      color:rgba(0,0,0,1);
      cursor: pointer;
      .title{
        border-bottom: 4px solid transparent;
        padding-bottom: 15px;
        &.active{
          border-bottom-color: #0150FF;
        }
      }
    }
  }
  .serviceBox{
    width: 100vw;
    height: 716px;
    overflow-x: hidden;
    background-image: url('https://storage.jd.com/jdlk-website/citymarketing/servicebg.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    .contentBox{
      height: 716px;
      width: 100%;
      position: absolute;
      overflow-x: hidden;
      left: 50%;
      transform: translateX(-50%);
      .service-item-line {
        position: absolute;
        top: 667px;
        left: 50%;
        transform: translateX(-50%);
        width: 1120px;
        height: 13px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        .change-list-line {
          position: relative;
          width:120px;
          height:3px;
          background:rgba(255,255,255,0.1);
          .change-list-line-active {
            position: absolute;
            top: 0px;
            left: 0;
            width:30px;
            height:3px;
            background:rgba(255,255,255,1);
            opacity:1;
          }
        }
        .change-list-text {
          height:13px;
          font-size:14px;
          font-family:"PingFang SC","MicrosoftYaHei";
          font-weight:400;
          color:rgba(255,255,255,1);
          opacity:0.6;
        }
      }
      .bgmain{
        width: 1920px;
        height: 716px;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
      }
      .content{
        max-width: 1120px;
        margin: auto;
        position: relative;
        z-index: 20;
        .title{
          margin-top: 79px;
          font-size:36px;
          font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
          font-weight:bold;
          color:rgba(255,255,255,1);
        }
        .desc{
          width:618px;
          height:39px;
          margin-top: 23px;
          font-size:14px;
          font-family:"PingFang SC","MicrosoftYaHei";
          font-weight:400;
          color:rgba(255,255,255,1);
          opacity:0.6;
        }
        .iconBox{
          width: 600px;
          height: 300px;
          // background: blueviolet;
          
          display: flex;
          flex-direction: column;
          .line{
            margin-top: 85px;
            flex: 1;
            display: flex;
            justify-content: space-between;
            .item{
              text-align: center;
              .name{
                margin-top: 12px;
                font-size:18px;
                font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
                font-weight:bold;
                color:rgba(255,255,255,1);
              }
            }
          }
        }
        .iconBox2{
          margin-top: 30px;
          width: 600px;
          height: 30px;
          // background: darkorange;
          
          display: flex;
          flex-direction: column;
          .item{
            flex: 1;
            line-height: 150px;
            // display: flex;
            // flex-direction: row;
            .left{
              float: left;
            }
            .right{
              margin-left: 94px;
              line-height: 1.3em;
              .title2{
                margin-top: 22px;
                font-size: 22px;
                font-family:"PingFang-Bold", "Microsoft YaHei";
                font-weight: bold;
                color: white;
              }
              .desc2{
                margin-top: 20px;
                font-size:14px;
                font-family:"PingFang SC","MicrosoftYaHei";
                font-weight:400;
                color:rgba(255,255,255,1);
                opacity:0.6;
              }
            }
          }
        }
        .mapbg{
          position: absolute;
          top: -79px;
          right: -120px;
          z-index: -1;
        }
        .locationIcon{
          position: absolute;
          top: 213px;
          right: 180px;
          z-index: 13;
          &.b1{
            top: 373px;
            right: 396px;      
          }
          &.b2{
            top: 88px;
            right: 394px;           
          }
          &.b3{
            top: 109px;
            right: 124px;        
          }
          &.b4{
            top: 411px;
            right: 118px;      
          }
          &.b5{
            top: 219px;
            right: 235px;
          }
          &.gray{
            top: -24px;
            right: 14px;
          }
        }
        .milesTag{
          position: absolute;
          top: 120px;
          right: -50px;
          
        }
        .cicirbox{
          position: absolute;
          width: 249px;
          top: 272px;
          right: 76px;
          &.active{
            animation: cicir1 2s infinite linear;
          }
          &.gray{
            width:60px;
            height:44px;
            cursor: pointer;
          }
          &.b1{
            top: 434px;
            right: 292px;      
          }
          &.b2{
            top: 148px;
            right: 289px;    
          }
          &.b3{
            top: 168px;
            right: 19px;        
          }
          &.b4{
            top: 471px;
            right: 13px;     
          }
          &.b5{
            top: 277px;
            right: 130px;
          }
          &.c1{
            top: 412px;
            right: 386px;
          }
          &.c2{
            top: 126px;
            right: 382px;
          }
          &.c3{
            top: 146px;
            right: 112px;
          }
          &.c4{
            top: 448px;
            right: 107px;      
          }
          &.c5{
            top: 256px;
            right: 224px;  
          }
        }
        .cicir1{
          width:33px;
          height:24px;
          background:rgba(255,255,255,1);
          opacity:0.4;
          border-radius:50%;
          z-index: 12;
        }
        
        
        .cicir2{
          width:60px;
          height:44px;
          background:rgba(1,97,255,1);
          opacity:0.6;
          border-radius:50%;
        }
        .cicir3{
          width: 249px;
          height:206px;
          background:radial-gradient(circle,rgba(1,138,255,0) 0%,rgba(1,97,255,1) 100%);
          opacity:0.4;
          border-radius:50%;
        }
  
        .buildingTag{
          position: absolute;
          width: 351px;
          height: 128px;
          z-index: 22;
          &.b1{
            top: 244px;
            right: 115px;
          }
          &.b2{
            top: -43px;
            right: 115px;      
          }
          &.b3{
            top: -23px;
            right: -155px;  
          }
          &.b4{
            top: 273px;
            right: -155px;
          }
          &.b5{
            top: 89px;
            right: -45px;      
          }
        }
      }
  
      .pro{
        margin-top: 58px;
        position: relative;
        .xianxia{
          float: left;
          width: 504px;
          height: 383px;
          padding: 32px;
          margin-left: -34px;
          background-image: url('https://storage.jd.com/jdlk-website/citymarketing/louyufugaibg.png');
          .top{
            .icon{
              float: left;
            }
            .txt{
              margin-left: 123px;
              .title3{
                margin-top: 13px;
                font-size:24px;
                font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
                font-weight:bold;
                color:rgba(255,255,255,1);
              }
              .desc3{
                margin-top: 16px;
                width:312px;
                height:34px;
                font-size:12px;
                font-family:"PingFang SC","MicrosoftYaHei";
                font-weight:400;
                color:rgba(255,255,255,1);
                opacity:0.6;
              }
            }
          }
          
          .bottom{
            margin-top: 48px;
            margin-left: -50px;
            display: flex;
            .item{
              text-align: center;
              width: 140px;
              height: 140px;
              margin-left: 20px;
  
              .icon{
                margin-top: 42px;
              }
              .name{
                margin-top: 2px;
                font-size:18px;
                font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
                font-weight:bold;
                color:rgba(255,255,255,1);
              }
  
              &.zhuzhai{
                background-image: url('https://storage.jd.com/jdlk-website/citymarketing/zhuzhaibg.png');
              }
              &.xiezilou{
                background-image: url('https://storage.jd.com/jdlk-website/citymarketing/xieziloubg.png');
              }
              &.shangchang{
                background-image: url('https://storage.jd.com/jdlk-website/citymarketing/shangchangbg.png');
              }
            }
          }
        }
  
        .xianshang{
          float: right;
          margin-right: -34px;
          width: 504px;
          height: 383px;
          padding: 32px;
          background-image: url('https://storage.jd.com/jdlk-website/citymarketing/jingzhuntoufangbg.png');
  
          .top{
            .icon{
              float: left;
            }
            .txt{
              margin-left: 123px;
              .title3{
                margin-top: 13px;
                font-size:24px;
                font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
                font-weight:bold;
                color:rgba(255,255,255,1);
              }
              .desc3{
                margin-top: 16px;
                width:312px;
                height:34px;
                font-size:12px;
                font-family:"PingFang SC","MicrosoftYaHei";
                font-weight:400;
                color:rgba(255,255,255,1);
                opacity:0.6;
              }
            }
          }
  
          .bottom{
            margin-top: 18px;
            margin-left: -35px;
            display: flex;
            justify-content: space-between;
            flex-wrap: wrap;
            .item{
              text-align: center;
              width: 58px;
              margin-left: 35px;
              margin-top: 20px;
              .name2{
                font-size:12px;
                font-family:"PingFang SC","MicrosoftYaHei";
                font-weight:400;
                color:rgba(255,255,255,1);
                opacity:0.6;
              }
            }
          }
        }
        .move{
          position: absolute;
          width: 184px;
          height: 80px;
          // background-color: antiquewhite;
          top: 120px;
          left: 50%;
          border-bottom: 2px dashed #515662;
          transform: translateX(-50%);
          .txt{
            width:161px;
            height:44px;
            font-size:16px;
            font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
            font-weight:bold;
            color:rgba(255,255,255,1);
            margin: 0 auto;
            text-align: center;
            line-height: 1.6em;
          }
          .sanjiao{
            position: absolute;
            bottom: -9px;
            left: 0;
            animation: toright 2s infinite linear;
          }
          @keyframes toright
          {
            0%   {transform: translateX(0)}
            100% {transform: translateX(174px)}
          }
          .lightPointBox{
            width:32px;
            height:32px;
            position: absolute;
            bottom: -17px;
            animation: cicir1 1.5s infinite linear;
            &.left{
              left: -15px;
            } 
            &.right{
              right: -15px;
              animation: cicir1 1.5s infinite 0.5s linear;
            }      
            .point1{
              width:4px;
              height:4px;
              border:2px solid rgba(255,255,255,1);
              border-radius:50%;
            }
            .point2{
              width:16px;
              height:16px;
              background:rgba(255,255,255,1);
              opacity:0.2;
              border-radius:50%;
            }
            .point3{
              width:32px;
              height:32px;
              background:rgba(255,255,255,1);
              opacity:0.1;
              border-radius:50%;
            }
          }
        }
      }
  
      .bihuan{
        margin-top: 58px;
        position: relative;
        display: flex;
        justify-content: space-around;
        .item{
          width: 280px;
          
          .top{
            padding-left: 10px;
            .num{
              float: left;
            }
            .name3{
              margin-left: 66px;
              font-size:20px;
              font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
              font-weight:bold;
              color:rgba(255,255,255,1);
            }
          }
          .middle{
            text-align: center;
            height: 350px;
          }
          .bottom{
            padding: 0 10px;
            font-size:12px;
            font-family:"PingFang SC","MicrosoftYaHei";
            font-weight:400;
            color:rgba(255,255,255,1);
            line-height:18px;
            opacity:0.4;
            text-align: center;
          }
        }
  
        .move{
          position: absolute;
          width: 184px;
          height: 80px;
          top: 120px;
          left: 280px;
          border-bottom: 2px dashed #515662;
          .sanjiao{
            position: absolute;
            bottom: -9px;
            left: 0;
            // transform: translateX(549px);
            z-index: 32;
            animation: toright2 6s infinite linear;
            
          }
          &.move2{
            left: 654px;
            // .sanjiao{
            //   animation-delay: 4s;
            // }
          }
          @keyframes toright2
          {
            0%   {transform: translateX(0)}
            33%   {transform: translateX(183px); z-index: -1;}
            66%   {transform: translateX(366px); z-index: -1;}
            100% {transform: translateX(549px)}
          }
          .lightPointBox{
            width:32px;
            height:32px;
            position: absolute;
            bottom: -17px;
            animation: cicir1 1.5s infinite linear;
            &.left{
              left: -15px;
            } 
            &.right{
              right: -15px;
              animation: cicir1 1.5s infinite 0.5s linear;
            }      
            .point1{
              width:4px;
              height:4px;
              border:2px solid rgba(255,255,255,1);
              border-radius:50%;
            }
            .point2{
              width:16px;
              height:16px;
              background:rgba(255,255,255,1);
              opacity:0.2;
              border-radius:50%;
            }
            .point3{
              width:32px;
              height:32px;
              background:rgba(255,255,255,1);
              opacity:0.1;
              border-radius:50%;
            }
          }
        }
      }
    }
  }
  
}

.product-desc {
  max-width: 1280px;
  margin: auto;
  // overflow: hidden;
  position: relative;
  padding-bottom: 225px;
  h5{
    line-height: 1.5em;
  }
  .douhao1 {
    margin: 40px 0 0 46px;
    width: 60px;
    height: 58px;
  }
  .message-item {
    width: 642px;
    h4 {
      margin-top: 28px;
      font-size:32px;
      font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
      font-weight:bold;
      color:rgba(5,11,35,1);
    }
    h5 {
      margin-top: 19px;
      font-size:14px;
      font-family:"PingFang SC","MicrosoftYaHei";
      font-weight:400;
      color:rgba(5,11,35,1);
      opacity:0.6;
    }
  }
  .card-item {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    .card-info {
      width: 218px;
      height: 64px;
      margin-top: 80px;
      display: flex;
      flex-direction: row;
      align-items: center;
      img {
        width: 64px;
        height: 64px;
        margin-right: 14px;
      }
      .card-title {
        font-size:24px;
        font-family:"PingFang-Bold", "MicrosoftYaHei-Bold";
        font-weight:bold;
        color:rgba(5,11,35,1);
        margin: 5px 0 0 0;
      }
      .card-message {
        margin: 17px 0 0 0;
        font-size:14px;
        font-family:"PingFang SC","MicrosoftYaHei";
        font-weight:400;
        color:rgba(5,11,35,1);
        opacity:0.6;
      }
    }
  }
  .item-cardandimg {
    display: flex;
    flex-direction: row;
    padding-left: 57px;
    .img-right{
      background-color: antiquewhite;
      position: relative;
      .main{
        position: absolute;
        top: 0;
        left: 179px;
        width: 299px;
        // height: 541px;
        z-index: 10;
      }
      .qr{
        position: absolute;
        top: 300px;
        left: 75px;
        width: 216px;
        height: 216px;
        z-index: 11;
      }
    }
  }
  .item-imgandcard {
    display: flex;
    flex-direction: row;
    margin-top: 155px;
    .img-left {
      height: 347px;
      width: 427px;
      position: relative;
      .main{
        position: absolute;
        top: 0;
        right: 100px;
        width: 299px;
        height: 541px;
        z-index: 10;
      }
      .qr{
        position: absolute;
        top: 300px;
        right: 45px;
        width: 216px;
        height: 216px;
        z-index: 11;
      }
    }
  }
  .douhao2 {
    float: right;
    width: 59px;
    height: 57px;
    margin: 110px 100px 72px 0;
  }
  .productbg{
    width: 100vw;
    // height: 100%;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: -1;
  }
}

.center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@keyframes cicir1
{
0%   {transform: scale(0)}
100% {transform: scale(1)}
}